@use '../../../styles/shared' as shared;

.register-container {
  background-image: url('/HotelBooking-Angular-Firebase/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 20px; 

  @media (min-width: 600px) { 
    padding: 130px;
    height: calc(100vh - 64px); 
  }

  @media (max-width: 599px) {
    height: calc(100vh - 56px);
    padding: 15px; 
    padding-top:130px;
  }
}

.titleRegister {
  font-size: 38px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: 599px) {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

mat-card {
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  width: 95%; /* Kisebb alapértelmezett szélesség, hogy legyen némi margó kisebb képernyőkön */
  max-width: 400px;
  padding: 20px;
  opacity: 0.9;

  @media (max-width: 599px) {
    padding: 15px;
    border-radius: 15px;
    width: 100%; /* Teljes szélesség a kisebb képernyőkön */
    max-width: none; /* Nincs maximális szélesség a kisebb képernyőkön */
  }
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 599px) {
    button {
      width: 100%;
    }
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Hely a gombok között */
  flex-direction: row; /* Alapértelmezetten sorban */

  @media (max-width: 399px) { /* Még kisebb képernyőkre oszlopba rendezzük a gombokat */
    flex-direction: column;
  }
}

mat-label {
  font-size: 12px;
}

h4 {
  margin: 0;
  font-weight: 200;
}

.terms-button {
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  @media (max-width: 599px) {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
  }
}

.terms-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.terms-button:hover::after {
  width: 100%;
}

mat-card-title {
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: left;

  @media (max-width: 599px) {
    font-size: 16px;
  }
}

mat-radio-group {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;

  @media (max-width: 599px) {
    flex-direction: column;
    gap: 8px;
  }
}